In [14]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import itertools

In [23]:
# read testing csv
df = pd.read_csv('/Users/yikaitang/Documents/GitHub/puppet_training/examples/puppet_training/testing_data/testing_puppet_training_full_partner_selection_env_.csv')

In [25]:
df[np.isnan(df['partner_selection'])]

,Unnamed: 0,gem_value,coin_value,bone_value,gem_count,coin_count,bone_count,partner_selection,total_count,partner_A_gem_median,...,partner_A_coin_median,partner_A_coin_var,partner_A_bone_median,partner_A_bone_var,partner_B_gem_median,partner_B_gem_var,partner_B_coin_median,partner_B_coin_var,partner_B_bone_median,partner_B_bone_var
0,0,1,1,1,0.0,0.0,0.0,NaN,"[0, 0, 0]",0,...,0,0,0,0,0,5,0,5,0,5
1,1,1,1,1,0.0,0.0,0.0,NaN,"[0, 0, 0]",0,...,0,0,0,1,0,5,0,5,0,6
2,2,1,1,1,0.0,0.0,1.0,NaN,"[0, 0, 1]",0,...,0,0,0,2,0,5,0,5,0,7
3,3,1,1,1,0.0,0.0,0.0,NaN,"[0, 0, 0]",0,...,0,1,0,0,0,5,0,6,0,5
4,4,1,1,1,0.0,0.0,0.0,NaN,"[0, 0, 0]",0,...,0,1,0,1,0,5,0,6,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2965,2965,10,10,10,0.0,0.0,0.0,NaN,"[0, 0, 0]",10,...,10,1,10,1,10,7,10,6,10,6
2966,2966,10,10,10,0.0,0.0,0.0,NaN,"[0, 0, 0]",10,...,10,1,10,2,10,7,10,6,10,7
2967,2967,10,10,10,0.0,0.0,0.0,NaN,"[0, 0, 0]",10,...,10,2,10,0,10,7,10,7,10,5
2968,2968,10,10,10,0.0,0.0,0.0,NaN,"[0, 0, 0]",10,...,10,2,10,1,10,7,10,7,10,6
2969,2969,10,10,10,0.0,0.0,0.0,NaN,"[0, 0, 0]",10,...,10,2,10,2,10,7,10,7,10,7

In [19]:
np.nanmean([np.nan, 0])

np.float64(0.0)

In [ ]:

array_partner_selection = df['partner_selection']
array_selected_agent_var = []
array_nonselected_agent_var = []
for i in range(len(array_partner_selection)):
    if array_partner_selection[i] == 0:
        array_selected_agent_var.append(df['partner_A_gem_var'][i])
        array_nonselected_agent_var.append(df['partner_B_gem_var'][i])
    else:
        array_selected_agent_var.append(df['partner_B_gem_var'][i])
        array_nonselected_agent_var.append(df['partner_A_gem_var'][i])

In [4]:
array_selected_agent_var = {'gem': None, 'coin': None, 'bone':None}

array_nonselected_agent_var = {'gem': None, 'coin': None, 'bone':None}

for key in array_selected_agent_var.keys():
    array_selected_agent_var[key] = np.where(
        df['partner_selection'] == 0,
        df['partner_A_{}_var'.format(key)],
        df['partner_B_{}_var'.format(key)]
    )

    array_nonselected_agent_var[key] = np.where(
        df['partner_selection'] == 0,
        df['partner_B_{}_var'.format(key)],
        df['partner_A_{}_var'.format(key)]
    )

In [5]:
from scipy.stats import ttest_ind

for key in array_selected_agent_var.keys():
    t_stat, p_value = ttest_ind(
        array_selected_agent_var[key], 
        array_nonselected_agent_var[key]
        )  # use equal_var=True if variances are equal
    
    # print the condition and results
    print(f"Condition: {key}")
    print(f"T-statistic: {t_stat}")
    print(f"P-value: {p_value}")
    print(f'means', np.mean(array_selected_agent_var[key]), np.mean(array_nonselected_agent_var[key]))
    print()

Condition: gem
T-statistic: 746.2280147515235
P-value: 0.0
means 6.0 1.0

Condition: coin
T-statistic: 746.2280147515235
P-value: 0.0
means 6.0 1.0

Condition: bone
T-statistic: 746.2280147515235
P-value: 0.0
means 6.0 1.0